include _mixins
block footer

    footer#footer.footer

        .container 

            .footer-wrapper 

                .footer__top

                    .footer__links 

                        .footer__logo
                            img(src="assets/images/logo.svg", alt="")

                        .footer__contacts 

                            .footer__contacts-item
                                span Адрес
                                a(href="")  Мо, г. Мытищи, Фуражный проезд д.4 строение 4 помещение 22 

                            .footer__contacts-item
                                span телефон
                                a(href="tel:+7 495 292-02-02")  +7 495 292-02-02

                            .footer__contacts-item
                                span E-mail
                                a(href="mailto:info@mosoblcom.ru")  info@mosoblcom.ru
                            
                    .footer__video
                        img(src="assets/images/footer-desc.svg", alt="")

                    .footer__navigation 

                        .footer__nav-links
                            a(href="").footer__nav-link Личный кабинет
                            a(href="tel:+7 495 292-02-02").footer__nav-link +7 495 292-02-02

                        nav.footer__nav-list
                            ul
                                li
                                    a О компании
                                li
                                    a направления
                                li
                                    a выполненные проекты
                                li
                                    a контакты

                        .footer__nav-btn обратный звонок

                    .footer__video-mob
                        img(src="assets/images/footer-mob.svg", alt="")

                .footer__middle

                    .footer__partners
                        .footer__partner
                            img(src="assets/images/par1.svg", alt="")
                        .footer__partner
                            img(src="assets/images/par2.svg", alt="")
                        .footer__partner
                            img(src="assets/images/par3.svg", alt="")
                        .footer__partner
                            img(src="assets/images/par4.svg", alt="")

                .footer__bottom

                    a.footer__bottom-link(href="") © Все права защищены 2023
                    a.footer__bottom-link(href="") Политика конфиденциальности
                    a.footer__bottom-link(href="") карта сайта
                    .footer__bottom-link
                        a(href="" target="_blank") Разработка сайта
                        span &nbsp;Di-project