script(src="assets/js/plugins/plugins.min.js")
if bodyClass == 'index-page'
    script(src="assets/js/jquery.pagepiling.min.js")
script(src="assets/js/map.js")
script(src="assets/js/one-page-scroll.js")
script(src="assets/js/sliders.js")
script(src="assets/js/main.js")