.top__head {
    padding: 37px 0 47px 0;
    border-bottom: 1px solid #EBEDEE;
}

.breadcrumbs-wrapper {
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
    width: auto!important;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #748188;
}

.breadcrumbs-item:not(:first-child):before {
    content: "";
    margin: 0 10px;
    background: #748188;
    display: inline-block;
    width: 20px;
    height: 1px;
}

.breadcrumbs-item:last-child {
    cursor: default;
}

.head-title {
    margin-top: 20px;
}


.page-title h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    text-transform: uppercase;
    color: #2B2A29;


    @include breakpoint(lg) {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 77px;
        line-height: 110%;
        text-transform: uppercase;
        color: #2B2A29;
    }

    @include breakpoint(xl) {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 110%;
        text-transform: uppercase;
        color: #2B2A29;
    }

}