.contacts-page {
    overflow-x: hidden !important;
	overflow-y: scroll !important;

    main {
		margin-top: 90px;

		@include breakpoint(lg) {
			margin-top: 120px;
		}
	}
    .header__nav li,
    .header__personal,
    .header__phone {
        color: #2B2A29;
    }
}
.page__contacts {
    background-color: #F1F1F1;
    padding: 40px 0 50px;
    @include breakpoint(lg) {
        padding: 140px 0 80px;
    }
    @include breakpoint(hd) {
        overflow: hidden;
        position: relative;
        padding: 100px 0 120px;
        padding-bottom: 0;
    }
}

.page__contacts-inner {
    @include breakpoint(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        gap: 70px 20px
    }
    @include breakpoint(hd) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
    }
}

.page__contacts-form {
    @include breakpoint(lg) {
        grid-column: 1/3
    }
    @include breakpoint(hd) {
        grid-column: unset;
        padding-left: calc(100% / 4);
    }
}

.page__contacts-subtitle {
    font-family: 'Oswald';
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 30px;
    text-transform: uppercase;
    @include breakpoint(lg) {
        font-size: 48px;
        margin-bottom: 45px;
    }
    @include breakpoint(hd) {
        margin-bottom: 80px;
    }
}
.page__contacts-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
    small {
        display: block;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
    }
    p + p {
        margin-top: 12px;
    }
}
.page__contacts-phones {
    margin-bottom: 50px;
}
.page__contacts-phones-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.page__contacts-phone {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    white-space: nowrap;
}
.page__contacts-phone-value {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.page__contacts-phone-label {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}
.page__contacts-emails {
    margin-bottom: 30px;
}
.page__contacts-emails-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.page__contacts-email-value {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.page__contacts-map {
    height: 340px;
    margin-bottom: 45px;
    filter: grayscale(1);

    @include breakpoint(lg) {
        height: 685px;
    }
    @include breakpoint(hd) {
        height: 690px;
        margin-bottom: 100px;
    }
}
.page__contacts-map::before,
.page__contacts-map::after {
    @include breakpoint(hd) {
        content: '';
        display: block;
        position: absolute;
        top: -140px;
        z-index: 10;
        width: 1px;
        background-color: #CDCCCC;
        height: 100vh;
    }
}
.page__contacts-map::after {
    @include breakpoint(hd) {
        right: 0;
    }
}