.index-page {

    overflow: auto;

    @include breakpoint(lg) {
        overflow: hidden;
    }

	#page {
        overflow-x: hidden;
		overflow-y: scroll;
        @include breakpoint(lg) {
            overflow: hidden;
            width: 100vw;
            height: 100vh;
        }
	}
	
	footer {
		display: none;
	}
}

.hero__section {
	background-color: #636e74;
	position: relative;


}

.hero__section--banner {
    width: 100vw;
    height: 100vh;

    .hero__content {
        margin-top: 110px;
    }

}



.hero__slider {
    width: 100%;
    height: 100%;

    @include breakpoint(md) {
        width: 100vw;
	    height: 100vh;
    }


}
.swiper-wrapper {
}
.hero__slide {
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	overflow: hidden;
    height: auto!important;
	transition: all .3s ease;


    @include breakpoint(md) {
        height: 100%!important;
    }

}

.hero__slide::before {
	content: '';
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	animation: opacityMain 1s ease;
	animation-fill-mode: forwards;
	z-index: 2;
}

@keyframes opacityMain {
	from {opacity: 1;}
	to { opacity: 0.8; }
}

.hero__slide.opacity::before {
	animation: opacityNormal 3s ease;
	animation-fill-mode: forwards;
}

@keyframes opacityNormal {
	from {opacity: 0.8;}
	to { opacity: 0.6; }
}

.hero__slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.swiper-slide {
}
.container {
}
.hero-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	width: 100%;
    height: 100%;
	z-index: 2;

    @include breakpoint(md) {
        height: unset;
    }


	@include breakpoint(lg) {
		padding-top: 160px;
	}
}
.hero__nav {
	display: none;

	@include breakpoint(lg) {
		display: flex;
		/* margin-top: auto; */
		/* margin-bottom: 150px; */
		/* margin-left: auto; */
		/* margin-right: 30px; */
		position: absolute;
		top: 50%;
		right: 50px;
		z-index: 1;
	}

	@include breakpoint(xl) {
		right: 150px;
	}
}

.hero__nav-next {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: fit-content;
	width: 193px;
	height: 193px;
	cursor: pointer;
}

// .hero__nav-next:hover .hero__nav-icon img {
//     animation: go-right 1s ease ;
// }

@keyframes go-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(250px);
	}
}
.hero__nav-img {
	display: flex;
	transition: all 1s ease-in;
	position: absolute;
	width: 193px;
	height: 193px;
	border: 1px solid #00000099;
	border-radius: 50%;
	transform: scale(0.8);
	transition: all 0.5s ease;
	opacity: 0;
	z-index: 1;
}

.hero__nav:hover .hero__nav-img {
	transform: scale(1);
	opacity: 1;
}

.hero__nav-icon {
	position: relative;
	width: 115px;
	height: 115px;
	background: #636e74;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	transition: all 0.5s ease;
	z-index: 2;
}

.hero__nav:hover .hero__nav-icon {
	width: 90px;
	height: 90px;
}

.hero__nav-icon img {
	position: absolute;
	transition: all .5s ease;
}

.hero__nav-icon img:first-child {
	left: -60px;
}

.hero__nav-icon img:last-child {
	right: calc(50% - 18px);
}

.hero__nav:hover .hero__nav-icon img:first-child {
	left: calc(50% - 18px);
}

.hero__nav:hover .hero__nav-icon img:last-child {
	right: -60px;
}

@keyframes zoom-in {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.hero__content {
	display: flex;
	flex-direction: column;

	@include breakpoint(lg) {
		flex-direction: row;
		justify-content: space-between;
	}
}
.hero__left {
	display: flex;
	flex-direction: column;

	@include breakpoint(lg) {
		width: calc(100% / 12 * 9);
	}

	@include breakpoint(xl) {
		margin-left: 80px;
		width: calc(100% / 12 * 6);
	}

	@include breakpoint(hdd) {
		margin-left: 290px;
		width: calc(100% / 12 * 5);
	}
}
.hero__direction {
	display: none;

	@include breakpoint(lg) {
		display: flex;
		font-family: "Oswald";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 30px;
	}
}
.hero__title {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 110%;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 50px;
    }


	@include breakpoint(lg) {
		font-weight: 700;
		font-size: 77px;
		line-height: 110%;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 30px;
	}

	@include breakpoint(xl) {
	}
}

.hero__text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 170%;
	color: #ffffff;
	margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 50px;
    }


	@include breakpoint(lg) {
		margin-bottom: 30px;
	}

	@include breakpoint(xl) {
		display: none;
	}
}
.hero__btn {
	padding: 20px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #2b2a29;
	background: #eedfa8;
	width: fit-content;

	@include breakpoint(lg) {
		font-size: 15px;
		padding: 26px 36px;
	}
}
.btn-style {
}
.hero__right {
	display: none;

	@include breakpoint(lg) {
		display: flex;
		width: calc(100% / 12 * 3);
	}

	@include breakpoint(xl) {
		display: flex;
		width: calc(100% / 12 * 5);
		margin-left: auto;
	}
}

.hero__right-text {
	display: none;

	@include breakpoint(xl) {
		display: flex;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 170%;
		color: #ffffff;
		max-width: 280px;
	}
}

.hero__bottom {
	position: absolute;
	bottom: 17px;
	z-index: 1;
	width: 100%;

	@include breakpoint(xl) {
		bottom: 43px;
	}
}
.hero__pagination {
	width: fit-content !important;
	display: flex;
	flex-direction: row;
	align-items: center;

	.swiper-pagination-bullet {
		width: 14px !important;
		height: 3px;
		background: #ffffff;
		border-radius: 0 !important;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		width: 60px !important;
		transition: all 0.2s ease-in;
	}

	@include breakpoint(xl) {
		margin: 0 auto;
	}
}

.hero-inner__slider {
	background-color: red;
}

.hero-inner-wrapper {
	width: 100%;
	height: 100%;
}

.hero__bottom-wrapper {
	display: flex;
	justify-content: space-between;

    @include breakpoint(md) {
        justify-content: flex-end;
    }

}

.hero__counter {
	display: flex;
	align-items: flex-end;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	color: #a7a7a7;
	width: fit-content !important;
	margin-left: 15px;

	span.swiper-pagination-current {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 300;
		font-size: 36px;
		line-height: 34px;
		text-align: right;
		color: #eedfa8;
	}

	span.swiper-pagination-total {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-align: right;
		color: #a7a7a7;
		margin-left: 4px;
	}
}

.hero__menu {
	display: none;
	position: absolute;
	top: 20%;
	// z-index: 10;
	z-index: 7;

	li {
		// width: fit-content !important;
		// max-width: 226px;
		margin-right: 30px;
		width: auto;
		font-family: "Oswald";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		text-transform: uppercase;
		color: #ffffff;
		opacity: 0.3;

		@include breakpoint(xl) {
			margin-right: 70px;
		}
	}

	li.active {
		opacity: 1;
	}

	@include breakpoint(lg) {
		display: flex;
	}

	// @include breakpoint(xl) {
	//     margin-left: 14.9%;
	// }

	// .swiper-wrapper {
	// 	@include breakpoint(hd) {
	// 		padding-left: 80px;
	// 	}

	// 	@include breakpoint(hdd) {
	// 		padding-left: 290px;
	// 	}
	// }
}

.hero__get-request {
	display: none;

	@include breakpoint(hd) {
        display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		padding: 36px 26px;
		background: #636e74;
		z-index: 7;
		writing-mode: tb-rl;
		transform: rotate(180deg);
		cursor: pointer;
	}
}

.hero__right-video {
	width: 100%;
	height: 214px;
	border: 1px solid #eedfa8;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@include breakpoint(lg) {
		width: 567px;
		height: 326px;
	}

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.hero__play {
		background: #636e74;
		width: 68px;
		height: 68px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.hero__right-video-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include breakpoint(xl) {
		margin-top: 70px;
	}
}

.hero__right-video-text {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
    margin-top: 25px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;

    @include breakpoint(md) {
        margin-top: 63px;
    }

}

.hero__about-links {
	display: flex;
	flex-wrap: wrap;
    width: 100%;

    @include breakpoint(hd) {
        margin-left: 290px;
    }
}

.hero__about-link {
	display: flex;
	flex-direction: column;
	width: 100%;
    margin-bottom: 20px;

	span:first-child {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #ffffff;
	}

	span:last-child {
		margin-top: 12px;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		color: #ffffff;
	}

    @include breakpoint(md) {
        width: 30%;
    }

}


.hero__section--mob {

    .hero__content {
        padding: 105px 0;

        @include breakpoint(md) {
            padding: unset;
        }

    }

    .hero__btn {
        margin-bottom: 30px;

        @include breakpoint(md) {
            margin-bottom: 0;
        }

    }

}


.hero__section--about {
	.hero__slide::before {
		background: rgb(62,62,62);
		opacity: 0.94;
	}

	.hero__right {
		display: flex;
	}

    .hero__content {
        padding-bottom: 25px;

        @include breakpoint(md) {
            flex-direction: row;
        }

    }

    .hero__left {

        @include breakpoint(md) {
            width: calc( 100% / 12 * 6 );
        }

        @include breakpoint(xl) {
            width: calc( 100% / 12 * 4.2 );
        }

       
    }

    .hero__right {

        @include breakpoint(md) {
            width: calc( 100% / 12 * 6 );
        }

        @include breakpoint(lg) {
            width: calc( 100% / 12 * 6 );
            margin-left: 0;
        }

        
    }

    .hero__left .hero__text {
        display: flex;

        @include breakpoint(lg) {
            max-width: 420px;
        }
    }

}

.hero__about-links--mob {
    @include breakpoint(md) {
        display: none;
    }
}

.hero__about-links--desk {
    display: none;

    @include breakpoint(lg) {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        z-index: 11111;
        bottom: 60px;
        width: 80%;
    }


}

.hero__btn.hero__btn--transparent {
    border: 1px solid #EEDFA8;
    background-color: transparent;
    color: #ffffff;
}