mixin breadcrumbs(title, ...items)

    .top__head

        .breadcrumbs

            .container

                .swiper

                    .breadcrumbs-wrapper.swiper-wrapper

                        .breadcrumbs-item.swiper-slide
                            a(href='/') Главная

                        each item in items

                            if item == items[items.length - 1]
                                .breadcrumbs-item.swiper-slide
                                    span= item

                            else
                                .breadcrumbs-item.swiper-slide
                                    a(href="#")= item

        .head-title

            .container

                .page-title
                    h1= title