mixin breadcrumbs(title, ...items)

    .top__head

        .breadcrumbs

            .container

                .breadcrumbs-wrapper

                    .breadcrumbs-item
                        a(href='/') Главная

                    each item in items

                        if item == items[items.length - 1]
                            span.breadcrumbs-separator —
                            .breadcrumbs-item
                                span= item

                        else
                            span.breadcrumbs-separator —
                            .breadcrumbs-item
                                a(href="#")= item

        .head-title

            .container

                .page-title
                    h1= title