.header {
	background: #fff;
	padding: 28px 0;
	border-bottom: 1px solid #cfcfcf;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;

	@include breakpoint(lg) {
		padding: 35px 0;
	}
}

.index-page header {
	background: rgba(46, 49, 51, 0.8);
}


.container {
}
.header__wrapper {
	display: flex;
	justify-content: space-between;

	@include breakpoint(lg) {
		align-items: center;
	}
}
.header__logo {
	width: 177px;
	height: 29px;

	@include breakpoint(lg) {
		width: 295px;
		height: 49px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.header__nav {
	display: none;

	@include breakpoint(hd) {
		display: flex;
		margin-left: auto;
	}

	ul {
		display: flex;
	}

	li {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		margin-right: 60px;

		&:last-child {
			margin-right: 0;
		}
	}
}
.header__nav-list {
}
.header__links {
	display: none;

	@include breakpoint(lg) {
		display: flex;
		margin-left: auto;
		margin-right: 80px;
	}

	@include breakpoint(xl) {
		margin-right: 0;
	}
}
.header__personal {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border-right: 1px solid #c8c8c8;
	padding: 8px 0;
	padding: 8px 30px 8px 0;
}
.header__phone {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding: 8px 0 8px 27px;
}
.header__burger {
	width: 57px;
	height: 33px;
	cursor: pointer;

	@include breakpoint(xl) {
		display: none;
	}
}

.nav__mobile {
	width: 80%;
	height: 100%;
	position: fixed;
	top: 0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 9;
	left: -100%;

	.nav__mobile-wrapper {
		overflow-y: scroll;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background: #fff;
		padding: 0 20px;
		padding-bottom: 30px;



		@include breakpoint(lg) {
			padding: 0 50px;
			padding-bottom: 25px;
		}

	}

	@include breakpoint(lg) {
		left: unset;
		right: -100%;
		width: 380px;
	}


}

.nav__mobile.active {
	left: 0;

	@include breakpoint(lg) {
		left: unset;
		right: 0;
	}
}

.nav__mobile-close {
    position: absolute;
    right: -60px;
    top: 36px;
	cursor: pointer;

	@include breakpoint(lg) {
		display: none;
	}

}

.nav__mobile-wrapper {
	display: flex;
	flex-direction: column;

	.nav__mobile-close {
		display: none;

		@include breakpoint(lg) {
			display: flex;
			position: relative;
			right: unset;
			top: unset;
			margin: auto;
			margin-top: 60px;
		}

	}
}

.nav__mobile-logo {
	width: 177px;
	height: 29px;
	margin-top: 35px;


	@include breakpoint(lg) {
		margin: auto;
	}

}

.nav__mobile--links {
	margin-top: 85px;

	li {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		text-transform: uppercase;
		color: #2F444E;
		padding: 15px 0;
		border-bottom: 1px solid #E2E2E2;

		@include breakpoint(lg) {
			text-align: center;
		}

	}

	@include breakpoint(lg) {
		margin: auto 0;
	}

}

.nav__mobile-phone {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #2B2A29;
	margin-top: 150px;

	@include breakpoint(lg) {
		margin-top: auto;
	}


}

.nav__mobile-request {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 26px 33px;
	background: #2B2A29;
	border: 1px solid #2B2A29;
	margin-top: 30px;
}

.nav__mobile-personal {
	border: 1px solid #BCB082;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #BCB082;
	padding: 26px 33px;
	margin-top: 30px;
}