.header {
    background: rgba(46, 49, 51, 0.8);
    padding: 28px 0;
    border-bottom: 1px solid #CFCFCF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;

    @include breakpoint(lg) {
        padding: 35px 0;
    }


}
.container {
}
.header__wrapper {
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
        align-items: center;
    }


}
.header__logo {
    width: 177px;
    height: 29px;

    @include breakpoint(lg) {
        width: 295px;
        height: 49px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}
.header__nav {
    display: none;
}
.header__nav-list {
}
.header__links {
    display: none;

    @include breakpoint(lg) {
        display: flex;
        margin-left: auto;
        margin-right: 80px;
    }

}
.header__personal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-right: 1px solid #C8C8C8;
    padding: 8px 0;
    padding: 8px 30px 8px 0;
}
.header__phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 0 8px 27px;
    
}
.header__burger {
    width: 57px;
    height: 33px;
}

