---
title: МОСОБЛКОМ | 404
bodyClass: page404
---

extends includes/_page

block main

    section.page-404
        .container 
            .page-404-wrapper
                .page-404__big 404
                .page-404__small Страница, которую вы запрашиваете не существует. Возможно она устарела, была удалена, или был введён неверный адрес в адресной строке
                a.page-404__btn На главную