---
title: МОСОБЛКОМ | О нас
bodyClass: about-page
---

extends includes/_page

block main

    include components/_breadcrumbs

    +breadcrumbs('О нас', 'О нас')

    .page__about
        .container 
            .page__about-inner
                .page__about-content
                    .page__about-subtitle О компании
                    .page__about-text 
                        p Lörem ipsum vivarad sulig stuprörspolitik åsiktskorridor, liksom polyse, tyfav inklusive klickokrati. Osära ranussade. Väsar futygt tide åren detyna pyse. Sosingar in. 
                        p Musikmobil fona innan anaaktiv triska kas. Intravis bäde ves dikesm. Uhokade tyr: eller dekal i osa förutom ågon gubbploga noling. Speninade kelost alltså jys, kibel vick. 
                        p Makrod krovis, det vill säga agen. Nevirade pneumagam. Kaligt exor, nes tills diagt tyspengen saliga. Plade nifärat. 
                        p Tibäv lanubisade som pneumasion innan börsrobot förutom spening, fåvir i telepp. Vening mafäsat om än sefahet tills vabäre. Konfaktisk supramilig: sesamma. Spesk biosion pobegisk. 
                .page__about-right
                    .page__about-right-text  Общество является действующим членом СРО Ассоциации проектировщиков «Архитектурные решения» и СРО союза «Строители Московской области МосОблСтройКомплекс».
                    .page__about-video
                        .page__about-video-preview
                            img(src='assets/images/about-video-preview.png', alt="О нас" title="О нас")
                        .page__about-video-play
                            .page__about-video-icon
                                img(src='assets/images/icon_play.svg', alt="общая Площадь объектов" title="общая Площадь объектов")
                            .page__about-video-title Смотреть видео о компании
                    a.page__about-right-btn.btn-style Обсудить ваш проект 
                .page__about-testimonials
                    .page__about-testimonial
                        .page__about-testimonial-name выполнено проектов
                        .page__about-testimonial-number Более 100 
                        .page__about-testimonial-icon 
                            img(src='assets/images/icon_about_1.svg', alt="Выполнено проектов" title="Выполнено проектов")
                    .page__about-testimonial
                        .page__about-testimonial-name Работаем с 
                        .page__about-testimonial-number 2017 года
                        .page__about-testimonial-icon 
                            img(src='assets/images/icon_about_2.svg', alt="Работаем с" title="Работаем с")
                    .page__about-testimonial
                        .page__about-testimonial-name общая Площадь объектов
                        .page__about-testimonial-number 12 млн. м<sup>2</sup>
                        .page__about-testimonial-icon 
                            img(src='assets/images/icon_about_3.svg', alt="общая Площадь объектов" title="общая Площадь объектов")
                    .page__about-testimonial
                        .page__about-testimonial-name количество сотрудников
                        .page__about-testimonial-number 350  чел
                        .page__about-testimonial-icon 
                            img(src='assets/images/icon_about_4.svg', alt="количество сотрудников" title="количество сотрудников")

    .another-projects
        .container 
            .another-projects-wrapper 
                .another-projects__head 
                    .section-title Наши проекты
                    .another-projects__head-text 
                        img(src="assets/images/projects-head.svg", alt="")

            .page__about-filter
                .page__about-nav-wrapper
                    .page__about-nav.page__projects-nav
                        .swiper-wrapper
                            .swiper-slide.page__about-nav-item.active
                                a(href="") все фото
                            .swiper-slide.page__about-nav-item
                                a(href="") благоустройство
                            .swiper-slide.page__about-nav-item
                                a(href="") проектирование
                            .swiper-slide.page__about-nav-item
                                a(href="") услуги связи
                            .swiper-slide.page__about-nav-item
                                a(href="") комплексные решения

                .another__projects-items 

                    .swiper-wrapper 

                        .swiper-slide.another__project

                            .another__project-img 
                                img(src="assets/images/an-proj.png", alt="")

                            .another__project-content 

                                .another__project-type Благоустройство и городская инфраструктура

                                .another__project-title короткое Название проекта в одну или две строки текста

                                .another__project-link Подробнее

                        .swiper-slide.another__project

                            .another__project-img 
                                img(src="assets/images/an-proj.png", alt="")

                            .another__project-content 

                                .another__project-type Благоустройство и городская инфраструктура

                                .another__project-title короткое Название проекта в одну или две строки текста

                                .another__project-link Подробнее

                        .swiper-slide.another__project

                            .another__project-img 
                                img(src="assets/images/an-proj.png", alt="")

                            .another__project-content 

                                .another__project-type Благоустройство и городская инфраструктура

                                .another__project-title короткое Название проекта в одну или две строки текста

                                .another__project-link Подробнее

                        .swiper-slide.another__project

                            .another__project-img 
                                img(src="assets/images/an-proj.png", alt="")

                            .another__project-content 

                                .another__project-type Благоустройство и городская инфраструктура

                                .another__project-title короткое Название проекта в одну или две строки текста

                                .another__project-link Подробнее

                    .another__projects-nav 
                        .another__projects-prev.arrow-prev
                            img(src="assets/images/arrow-prev.svg", alt="")
                        .another__projects-next.arrow-next
                            img(src="assets/images/arrow-next.svg", alt="")

