---
title: МОСОБЛКОМ | Направления
bodyClass: directions-page
---

extends includes/_page

block main

    include components/_breadcrumbs

    +breadcrumbs('Направления', 'Направления')

    .page__directions

        .page__direction 
            .page__direction-left
                img(src="assets/images/direction-img1.png", alt="")
            .page__direction-right
                .page__direction-wrapper
                    .page__direction-title Благоустройство и городская инфраструктура
                    .page__direction-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                    ul.page__direction-list 
                        li название услуги
                        li название услуги
                        li название услуги
                    .page__direction-btn подробнее о направлении

        .page__direction 
            .page__direction-left
                img(src="assets/images/direction-img3.png", alt="")
            .page__direction-right
                .page__direction-wrapper
                    .page__direction-title комплексные решения и спецпроекты
                    .page__direction-text Ключевым направлением деятельности компании является комплексные решение по созданию инженерных слаботочных систем зданий и сооружений. Выполняя весь комплекс мероприятий от проектирования систем до сдачи в эксплуатацию – мы гарантируем максимальную совместимость решений, решение из «одних рук», существенную экономию средств при проведении строительно-монтажных и пусконаладочных работ в связи с уменьшением количества смежных операций по каждой подсистеме.
                    ul.page__direction-list 
                        li название услуги
                        li название услуги
                        li название услуги
                    .page__direction-btn подробнее о направлении
                
        .page__direction 
            .page__direction-left
                img(src="assets/images/direction-img1.png", alt="")
            .page__direction-right
                .page__direction-wrapper
                    .page__direction-title Благоустройство и городская инфраструктура
                    .page__direction-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                    ul.page__direction-list 
                        li название услуги
                        li название услуги
                        li название услуги
                    .page__direction-btn подробнее о направлении

        .page__direction 
            .page__direction-left
                img(src="assets/images/direction-img3.png", alt="")
            .page__direction-right
                .page__direction-wrapper
                    .page__direction-title комплексные решения и спецпроекты
                    .page__direction-text Ключевым направлением деятельности компании является комплексные решение по созданию инженерных слаботочных систем зданий и сооружений. Выполняя весь комплекс мероприятий от проектирования систем до сдачи в эксплуатацию – мы гарантируем максимальную совместимость решений, решение из «одних рук», существенную экономию средств при проведении строительно-монтажных и пусконаладочных работ в связи с уменьшением количества смежных операций по каждой подсистеме.
                    ul.page__direction-list 
                        li название услуги
                        li название услуги
                        li название услуги
                    .page__direction-btn подробнее о направлении
                
        .page__direction 
            .page__direction-left
                img(src="assets/images/direction-img1.png", alt="")
            .page__direction-right
                .page__direction-wrapper
                    .page__direction-title Благоустройство и городская инфраструктура
                    .page__direction-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                    ul.page__direction-list 
                        li название услуги
                        li название услуги
                        li название услуги
                    .page__direction-btn подробнее о направлении

    .page__directions-nav
        .container
            .page__directions-nav-items 
                .swiper-wrapper 
                    .swiper-slide.page__directions-nav-item
                        a Благоустройство и городская инфраструктура
                    .swiper-slide.page__directions-nav-item
                        a Комплексные решения и спец.проекты
                    .swiper-slide.page__directions-nav-item
                        a Услуги связи и интеграция
                    .swiper-slide.page__directions-nav-item
                        a Проектирование
                    .swiper-slide.page__directions-nav-item
                        a Производство с подразделением НИОКР
            
