---
title: МОСОБЛКОМ | Благоустройство и городская инфраструктура
bodyClass: directions-inner-page
---

extends includes/_page

block main

    include components/_breadcrumbs 
    +breadcrumbs('Благоустройство и городская инфраструктура', 'Выполненные проекты', 'Благоустройство и городская инфраструктура')

    .page__directions-inner-detail

        .directions-inner__main.section-gray
            .container
                .inner
                    .inner__block-mini
                        .inner__block-mini-title о направлении
                        .inner__block-mini-img
                            img(src="assets/images/d-i334.png", alt="img")
                        .inner__block-mini-btn(data-src="#popup-form" data-fancybox) обсудить ваш проект

                    .inner__block-image
                        img(src="assets/images/d-i333.png", alt="img")

                    .inner__block-content
                        .inner__block-content-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.

                        .inner__block-list
                            .inner__block-list-title услуги по направлению
                            
                            ul.page__direction-list 
                                li название услуги
                                li название услуги
                                li название услуги

        .another-projects
            .container 
                .another-projects-wrapper 
                    .another-projects__head 
                        .section-title Завершенные проекты
                        .another-projects__head-text 
                            img(src="assets/images/projects-head.svg", alt="")

                    .another__projects-items 

                        .swiper-wrapper 

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                        .another__projects-nav 
                            .another__projects-prev.arrow-prev
                                img(src="assets/images/arrow-prev.svg", alt="")
                            .another__projects-next.arrow-next
                                img(src="assets/images/arrow-next.svg", alt="")

        .directions-inner-another
            .container
                .d-content
                    .d-content__textblock
                        .d-content__textblock-title We took the burger to the next level

                        .d-content__textblock-text
                            p Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns. Our extensive menu offers a wide variety of burger options,  including classic cheeseburgers, bacon burgers, and even vegetarian options like our veggie burger and portobello. Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns. 
                             |Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns. Our extensive menu offers a wide variety of burger options,  including classic cheeseburgers, bacon burgers, and even vegetarian options like our veggie burger and portobello.

                            p Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns. Our extensive menu offers a wide variety of burger options,  including classic cheeseburgers, bacon burgers, and even vegetarian options like our veggie burger and portobello. Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns. 
                             |Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns. Our extensive menu offers a wide variety of burger options,  including classic cheeseburgers, bacon burgers, and even vegetarian options like our veggie burger and portobello.

                        .d-content__btn(data-src="#popup-form" data-fancybox) обсудить ваш проект

                    .d-content__image
                        .d-content__image-item
                            img(src="assets/images/d-i5324.png", alt="img")

                        .d-content__btn(data-src="#popup-form" data-fancybox) обсудить ваш проект

    .page__directions-nav
        .container
            .page__directions-nav-items 
                .swiper-wrapper 
                    .swiper-slide.page__directions-nav-item
                        a Благоустройство и городская инфраструктура
                    .swiper-slide.page__directions-nav-item
                        a Комплексные решения и спец.проекты
                    .swiper-slide.page__directions-nav-item
                        a Услуги связи и интеграция
                    .swiper-slide.page__directions-nav-item
                        a Проектирование
                    .swiper-slide.page__directions-nav-item
                        a Производство с подразделением НИОКР