---
title: МОСОБЛКОМ | Главная
bodyClass: index-page
---

extends includes/_page

block main

    .hero__menu#menu.container(style="opacity: 0;")
        .swiper-wrapper
            li.swiper-slide.active(data-menuanchor='screen1' data-hash="screen1")
                a(href='#screen1') Благоустройство и городская среда
            li.swiper-slide(data-menuanchor='screen2' data-hash="screen2")
                a(href='#screen2') Комплексные решения и спец.проекты
            li.swiper-slide(data-menuanchor='screen3' data-hash="screen3")
                a(href='#screen3') Услуги связи и интеграция
            li.swiper-slide(data-menuanchor='screen4' data-hash="screen4")
                a(href='#screen4') Проектирование
            li.swiper-slide(data-menuanchor='screen5' data-hash="screen5")
                a(href='#screen5') Производство с подразделением НИОКР
            li.swiper-slide(data-menuanchor='screen6' data-hash="screen6")
                a(href='#screen6') О компании

    .hero__get-request(style="opacity: 0;" data-src="#popup-form" data-fancybox) обсудить проект

    #hero.hero

        #screen1.section.hero__section.hero__section--banner
            section.hero__slider
                .swiper-wrapper

                    .hero__slide.swiper-slide 
                        .hero__slide-image(style="background-image: url(assets/images/hero1.png); opacity: 0;")
                        
                        .hero-wrapper

                            .container

                                .hero__content 

                                    .hero__left 

                                        .hero__direction(style="opacity: 0;") направление
                                        h1.hero__title(style="opacity: 0;") Благоустройство<br> и городская<br> среда
                                        .hero__text(style="opacity: 0;") Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        a.hero__btn(href="" style="opacity: 0;") подробнее о направлении

                                    .hero__right(style="opacity: 0;")
                                        .hero__right-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        
                    .hero__slide.swiper-slide
                        .hero__slide-image(style="background-image: url(assets/images/hero1.png)")
                        
                        .hero-wrapper

                            .container

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Благоустройство и городская среда
                                        .hero__text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        a(href="").hero__btn подробнее о направлении

                                    .hero__right 
                                        .hero__right-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        
                .hero__bottom(style="opacity: 0;")
                    .container
                        .hero__bottom-wrapper
                            .hero__pagination 
                            .hero__counter
                        
                .hero__nav(style="opacity: 0;")
                    .hero__nav-next 
                        .hero__nav-img
                            img(src="assets/images/btn-img.png", alt="")
                        .hero__nav-icon 
                            img(src="assets/images/arrow-right.svg", alt="")
                            img(src="assets/images/arrow-right.svg", alt="")
            
        #screen2.section.hero__section.hero__section--mob
            section.hero__slider
                .swiper-wrapper

                    .hero__slide.swiper-slide
                        .hero__slide-image(style="background-image: url(assets/images/hero2.png)")

                        .hero-wrapper

                            .container

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Комплексные решение и спецпроекты
                                        .hero__text Ключевым направлением деятельности компании является комплексные решение по созданию инженерных слаботочных систем зданий и сооружений.<br><br>Выполняя весь комплекс мероприятий от проектирования систем до сдачи в эксплуатацию – мы гарантируем максимальную совместимость решений, решение из «одних рук», существенную экономию средств при проведении строительно-монтажных и пусконаладочных работ в связи с уменьшением количества смежных операций по каждой подсистеме.
                                        a(href="").hero__btn подробнее о направлении

                                    .hero__right 
                                        .hero__right-text Ключевым направлением деятельности компании является комплексные решение по созданию инженерных слаботочных систем зданий и сооружений.<br><br>Выполняя весь комплекс мероприятий от проектирования систем до сдачи в эксплуатацию – мы гарантируем максимальную совместимость решений, решение из «одних рук», существенную экономию средств при проведении строительно-монтажных и пусконаладочных работ в связи с уменьшением количества смежных операций по каждой подсистеме.
                                        
                    .hero__slide.swiper-slide
                        .hero__slide-image(style="background-image: url(assets/images/hero2.png)")

                        .hero-wrapper

                            .container

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Благоустройство и городская среда
                                        .hero__text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        a(href="").hero__btn подробнее о направлении

                                    .hero__right
                                        .hero__right-text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                    
                .hero__bottom
                    .container
                        .hero__bottom-wrapper
                            .hero__pagination 
                            .hero__counter
                
                .hero__nav
                    .hero__nav-next 
                        .hero__nav-img
                            img(src="assets/images/btn-img.png", alt="")
                        .hero__nav-icon 
                            img(src="assets/images/arrow-right.svg", alt="")
                            img(src="assets/images/arrow-right.svg", alt="")
                        
        #screen3.section.hero__section.hero__section--mob

            .hero__slide
                .hero__slide-image(style="background-image: url(assets/images/hero3.png)")

                .hero-wrapper

                    .container

                        .hero__content 

                            .hero__left 

                                .hero__direction направление
                                h1.hero__title Услуги связи и интеграция
                                .hero__text Являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений.<br><br>А также акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                                a(href="").hero__btn подробнее о направлении

                            .hero__right
                                .hero__right-text Являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений.<br><br>А также акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                                
        #screen4.section.hero__section.hero__section--mob
            section.hero__slider
                .swiper-wrapper

                    .hero__slide.swiper-slide 
                        .hero__slide-image(style="background-image: url(assets/images/hero4.png)")

                        .hero-wrapper

                            .container

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Проектирование
                                        .hero__text Отдельным направлением деятельности является проектирование слаботочной инфраструктуры. Опираясь на многолетний опыт работы специалистов компании, собранные знания, Мособлком проектирует слаботочные системы любой сложности. В виду большой востребованности услуги на строительном рынке, Мособлком выделил отдельный офис – проектное бюро в г. Минск (Республика Белоруссия) для успешной реализации задач в этом направлении.
                                        a(href="").hero__btn подробнее о направлении

                                    .hero__right 
                                        .hero__right-text Отдельным направлением деятельности является проектирование слаботочной инфраструктуры. Опираясь на многолетний опыт работы специалистов компании, собранные знания, Мособлком проектирует слаботочные системы любой сложности. В виду большой востребованности услуги на строительном рынке, Мособлком выделил отдельный офис – проектное бюро в г. Минск (Республика Белоруссия) для успешной реализации задач в этом направлении.
                                        
                    .hero__slide.swiper-slide 
                        .hero__slide-image(style="background-image: url(assets/images/hero4.png)")

                        .hero-wrapper

                            .container

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Проектирование
                                        .hero__text Отдельным направлением деятельности является проектирование слаботочной инфраструктуры. Опираясь на многолетний опыт работы специалистов компании, собранные знания, Мособлком проектирует слаботочные системы любой сложности. В виду большой востребованности услуги на строительном рынке, Мособлком выделил отдельный офис – проектное бюро в г. Минск (Республика Белоруссия) для успешной реализации задач в этом направлении.
                                        a(href="").hero__btn подробнее о направлении

                                    .hero__right
                                        .hero__right-text Отдельным направлением деятельности является проектирование слаботочной инфраструктуры. Опираясь на многолетний опыт работы специалистов компании, собранные знания, Мособлком проектирует слаботочные системы любой сложности. В виду большой востребованности услуги на строительном рынке, Мособлком выделил отдельный офис – проектное бюро в г. Минск (Республика Белоруссия) для успешной реализации задач в этом направлении.
                                        
                .hero__bottom
                    .container
                        .hero__bottom-wrapper
                            .hero__pagination 
                            .hero__counter
                
                .hero__nav
                    .hero__nav-next 
                        .hero__nav-img
                            img(src="assets/images/btn-img.png", alt="")
                        .hero__nav-icon 
                            img(src="assets/images/arrow-right.svg", alt="")
                            img(src="assets/images/arrow-right.svg", alt="")
        
        #screen5.section.hero__section.hero__section--mob
            .hero__slide
                .hero__slide-image(style="background-image: url(assets/images/hero1.png)") 
                        
                .hero-wrapper

                    .container

                        .hero__content 

                            .hero__left 

                                .hero__direction направление
                                h1.hero__title Производство с подразделением НИОКР
                                .hero__text Как любая, активно практикующая компания, Мособлком не может обойтись без производственного комплекса, который обеспечивает решение задач монтажным и конструкторским командам. Разрабатывая специализированные кронштейны, узлы креплений, оборудование – инженеры Мособлком существенно расширяют спектр решений, обеспечивает более эффективное решение задача с помощью «специализированных» под конкретную задачу изделий.
                                a(href="").hero__btn подробнее о направлении

                            .hero__right
                                .hero__right-text Как любая, активно практикующая компания, Мособлком не может обойтись без производственного комплекса, который обеспечивает решение задач монтажным и конструкторским командам. Разрабатывая специализированные кронштейны, узлы креплений, оборудование – инженеры Мособлком существенно расширяют спектр решений, обеспечивает более эффективное решение задача с помощью «специализированных» под конкретную задачу изделий.
                          
        #screen6.section.hero__section.hero__section--about.hero__section--mob
            .hero__slide
                .hero__slide-image(style="background-image: url(assets/images/hero1.png)")
                        
                .hero-wrapper

                    .container

                        .hero__content 

                            .hero__left 

                                h1.hero__title О компании
                                .hero__text Общество является действующим членом СРО Ассоциации проектировщиков «Архитектурные решения» и СРО союза «Строители Московской области МосОблСтройКомплекс».
                                a(href="").hero__btn.hero__btn--transparent подробнее о компании

                            .hero__right
                                .hero__right-video
                                    video(src="" poster="assets/images/video-bg.png")
                                    .hero__right-video-content
                                        .hero__play
                                            img(src="assets/images/play.svg", alt="")
                                        .hero__right-video-text Смотреть полное видео

                        .hero__about-links.hero__about-links--mob
                            a(href="").hero__about-link
                                span Адрес
                                span Москва, Ивана Иванова ,14
                            a(href="").hero__about-link
                                span телефон
                                span +7 495 292-02-02
                            a(href="").hero__about-link
                                span E-mail
                                span info@mosoblcom.ru
            .container                  
                .hero__about-links.hero__about-links--desk
                    a(href="").hero__about-link
                        span Адрес
                        span Москва, Ивана Иванова ,14
                    a(href="").hero__about-link
                        span телефон
                        span +7 495 292-02-02
                    a(href="").hero__about-link
                        span E-mail
                        span info@mosoblcom.ru
