---
title: МОСОБЛКОМ | Главная
bodyClass: index-page
---

extends includes/_page

block main

    #hero
        .section.hero__section
            section.hero
                .swiper-wrapper

                    .hero__slide.swiper-slide(style="background-image: url(assets/images/hero1.png)") 
                        
                        .hero-wrapper

                            .container

                                .hero__nav
                                    .swiper-wrapper 
                                        .swiper-slide 1
                                        .swiper-slide 2

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Благоустройство и городская среда
                                        .hero__text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        a(href="").hero__btn.btn-style подробнее о направлении

                                    .hero__right 
                                        p Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                    
                    .hero__slide.swiper-slide(style="background-image: url(assets/images/hero1.png)") 
                        
                        .hero-wrapper

                            .container

                                .hero__nav
                                    .swiper-wrapper 
                                        .swiper-slide

                                .hero__content 

                                    .hero__left 

                                        .hero__direction направление
                                        h1.hero__title Благоустройство и городская среда
                                        .hero__text Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.
                                        a(href="").hero__btn.btn-style подробнее о направлении

                                    .hero__right 
                                        p Одним из активно развивающихся направлений деятельности компании является реализация проектов в области благоустройства парковых зон и уличного пространства с оснащением современной инфраструктурой безопасности, комплексами оповещения и реагирования оперативных служб, интеграции локальных подсистем в централизованные городские и федеральные системы.

            .hero__bottom
                .container
                    .hero__bottom-wrapper
                        .hero__pagination 
                        .hero__counter


        .section.hero__section(style="background-image: url(assets/images/hero1.png)")
            h1 2
        .section.hero__section
            h1 3
        .section.hero__section
            h1 4