---
title: МОСОБЛКОМ | Проект
bodyClass: projects-inner
---

extends includes/_page

block main

    .page__projects-detail

        .projects-detail__hero(style="background-image: url(assets/images/proje-det-hero.png);")
            .container
                .projects-detail__hero-wrapper
                    a(href="/projects/").projects-detail__back назад в проекты
                    .projects-detail__hero-desc ВДНХ, Паркинг<br>на 3 000 машиномест
                    h1.projects-detail__hero-title Паркинг<br>ВДНХ

        .projects-detail__hero-mob
            .container
                a(href="/projects/").projects-detail__back назад в проекты
                .projects-detail__hero-desc ВДНХ, Паркинг на<br>3 000 машиномест
                h1.projects-detail__hero-title Паркинг<br>ВДНХ

        .projects-detail__content
            .container
                .projects-detail__content-wrapper
                    .projects-detail__content-left 
                        h2 особенности проекта
                        p Банальные, но неопровержимые выводы, а также представители современных социальных резервов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть призваны к ответу.
                        p Безусловно, экономическая повестка сегодняшнего дня, а также свежий взгляд на привычные вещи — безусловно отк
                        .projects-detail__content-address Москва, Ул. Ивана Иванова, 30

                    .projects-detail__content-right

                        .projects-detail__content-img 
                            img(src="assets/images/proj-det-content.png", alt="")

                        .projects-detail__content-items 

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span количество парковочных мест
                                    div 3 000
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic1.svg", alt="")

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span год завершения
                                    div 2021 год
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic2.svg", alt="")

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span Площадь
                                    div 10 000 м<sup>2</sup>
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic3.svg", alt="")

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span было Задействовано специалистов
                                    div 250 чел
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic4.svg", alt="")
                
        .projects-detail__gallery 

            .container 

                .projects-detail__gallery-wrapper 

                    .projects-detail__gallery-top

                        .projects-detail__gallery-head

                            .section-title фотогалерея

                        .projects-detail__gallery-nav 

                            .swiper-wrapper 

                                .swiper-slide.projects-detail__gallery-nav-item.active
                                    a(href="") все фото

                                .swiper-slide.projects-detail__gallery-nav-item
                                    a(href="") начало проекта

                                .swiper-slide.projects-detail__gallery-nav-item
                                    a(href="") Завершение I Этапа

                                .swiper-slide.projects-detail__gallery-nav-item
                                    a(href="") Завершение II Этапа

                                .swiper-slide.projects-detail__gallery-nav-item
                                    a(href="") завершение проекта

                    .projects-detail__gallery-bottom 

                        .swiper-wrapper 

                            .swiper-slide.projects-detail__gallery-item
                                img(src="assets/images/gallery1.png", alt="")

                            .swiper-slide.projects-detail__gallery-item
                                img(src="assets/images/gallery1.png", alt="")

                            .swiper-slide.projects-detail__gallery-item
                                img(src="assets/images/gallery1.png", alt="")

                            .swiper-slide.projects-detail__gallery-item
                                img(src="assets/images/gallery1.png", alt="")

                            .swiper-slide.projects-detail__gallery-item
                                img(src="assets/images/gallery1.png", alt="")

                        .projects-detail__gallery-navigation
                            .projects-detail__gallery-prev.arrow-prev
                                img(src="assets/images/arrow-prev.svg", alt="")
                            .projects-detail__gallery-next.arrow-next
                                img(src="assets/images/arrow-next.svg", alt="")

        .projects-detail__timeline 
            .container 

                .projects-detail__timeline-wrapper

                    .section-title процесс реализации

                    .projects-detail__timeline-slider 

                        .swiper-wrapper 

                            .swiper-slide.projects-detail__timeline-slide

                                .projects-detail__timeline-head 
                                    span 2019
                                    div март
                                .projects-detail__timeline-title Проектирование
                                .projects-detail__timeline-text После геологического исследования грунтов и топографической съемки собрали рабочие нагрузки и произвели расчеты. Работа проектного отдела. 

                            .swiper-slide.projects-detail__timeline-slide

                                .projects-detail__timeline-head 
                                    span 2019
                                    div июнь
                                .projects-detail__timeline-title фундамент и начало строительства
                                .projects-detail__timeline-text  Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.

                            .swiper-slide.projects-detail__timeline-slide

                                .projects-detail__timeline-head 
                                    span 2020
                                    div февраль
                                .projects-detail__timeline-title Возвели здание и облагородили территорию
                                .projects-detail__timeline-text Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.

                            .swiper-slide.projects-detail__timeline-slide

                                .projects-detail__timeline-head 
                                    span 2020
                                    div март
                                .projects-detail__timeline-title техническая адаптация
                                .projects-detail__timeline-text Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.

                            .swiper-slide.projects-detail__timeline-slide

                                .projects-detail__timeline-head 
                                    span 2019
                                    div март
                                .projects-detail__timeline-title сдача проекта заказчику
                                .projects-detail__timeline-text Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.

                    .projects-detail__timeline-btn обсудить ваш проект

        .another-projects.section-gray
            .container 
                .another-projects-wrapper 
                    .another-projects__head 
                        .section-title другие проекты
                        .another-projects__head-text 
                            img(src="assets/images/projects-head.svg", alt="")

                    .another__projects-items 

                        .swiper-wrapper 

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                            .swiper-slide.another__project

                                .another__project-img 
                                    img(src="assets/images/an-proj.png", alt="")

                                .another__project-content 

                                    .another__project-type Благоустройство и городская инфраструктура

                                    .another__project-title короткое Название проекта в одну или две строки текста

                                    .another__project-link Подробнее

                        .another__projects-nav 
                            .another__projects-prev.arrow-prev
                                img(src="assets/images/arrow-prev.svg", alt="")
                            .another__projects-next.arrow-next
                                img(src="assets/images/arrow-next.svg", alt="")

