---
title: МОСОБЛКОМ | Проект
bodyClass: projects-inner
---

extends includes/_page

block main

    .page__projects-detail

        .projects-detail__hero(style="background-image: url(assets/images/proje-det-hero.png);")
            .container
                .projects-detail__hero-wrapper
                    a(href="/projects/").projects-detail__back назад в проекты
                    .projects-detail__hero-desc ВДНХ, Паркинг<br>на 3 000 машиномест
                    h1.projects-detail__hero-title Паркинг<br>ВДНХ

        .projects-detail__hero-mob
            .container
                a(href="/projects/").projects-detail__back назад в проекты
                .projects-detail__hero-desc ВДНХ, Паркинг на<br>3 000 машиномест
                h1.projects-detail__hero-title Паркинг<br>ВДНХ

        .projects-detail__content
            .container
                .projects-detail__content-wrapper
                    .projects-detail__content-left 
                        h2 особенности проекта
                        p Банальные, но неопровержимые выводы, а также представители современных социальных резервов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть призваны к ответу.
                        p Безусловно, экономическая повестка сегодняшнего дня, а также свежий взгляд на привычные вещи — безусловно отк
                        .projects-detail__content-address Москва, Ул. Ивана Иванова, 30

                    .projects-detail__content-right

                        .projects-detail__content-img 
                            img(src="assets/images/proj-det-content.png", alt="")

                        .projects-detail__content-items 

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span количество парковочных мест
                                    div 3 000
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic1.svg", alt="")

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span год завершения
                                    div 2021 год
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic2.svg", alt="")

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span Площадь
                                    div 10 000 м<sup>2</sup>
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic3.svg", alt="")

                            .projects-detail__content-item
                                .projects-detail__content-item-text
                                    span было Задействовано специалистов
                                    div 250 чел
                                .projects-detail__content-item-icon
                                    img(src="assets/images/proj-ic4.svg", alt="")
                